* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: site;
  src: url(../fonts/IRANYekanWeb-Medium.eot);
  src: url(../fonts/IRANYekanWeb-Medium.ttf);
  src: url(../fonts/IRANYekanWeb-Medium.woff);
  src: url(../fonts/IRANYekanWeb-Medium.woff2); }

div#app {
  width: 100%; }
  div#app header {
    width: 100%;
    height: 100px;
    background-image: url(../image/golestan-logo/golestan-backGround-Img-footer.png);
    position: fixed;
    top: 0;
    z-index: 50; }
    div#app header div.logo {
      width: fit-content;
      transform: translate(-90%, 40%);
      cursor: pointer; }
      div#app header div.logo img {
        width: 100%;
        object-fit: cover; }
    div#app header div.menu {
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: -7%;
      padding-bottom: 20px;
      box-sizing: border-box; }
      div#app header div.menu nav {
        width: 70%;
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: end; }
        div#app header div.menu nav ul {
          width: 100%;
          height: inherit;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: end; }
          div#app header div.menu nav ul li.a {
            list-style: none;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: end;
            cursor: pointer;
            padding: 10px 20px;
            box-sizing: border-box;
            text-align: center;
            position: relative; }
            div#app header div.menu nav ul li.a:hover > a {
              color: white; }
            div#app header div.menu nav ul li.a:hover > div.sub-menu {
              display: block; }
            div#app header div.menu nav ul li.a a {
              font-family: site;
              font-size: 15px;
              text-decoration: none;
              color: #afb2b4;
              transition: 300ms; }
            div#app header div.menu nav ul li.a div.sub-menu {
              display: none;
              width: 200px;
              height: auto;
              background-color: #2b2b2b;
              border: 1px solid black;
              position: absolute;
              top: 100%;
              right: 0;
              z-index: 51; }
              div#app header div.menu nav ul li.a div.sub-menu div.sub-data {
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: start;
                margin-right: 10px;
                padding: 12px;
                box-sizing: border-box;
                cursor: pointer; }
                div#app header div.menu nav ul li.a div.sub-menu div.sub-data:hover > a {
                  color: white; }
                div#app header div.menu nav ul li.a div.sub-menu div.sub-data a {
                  font-family: site;
                  font-size: 15px;
                  font-weight: lighter;
                  text-decoration: none;
                  color: #afb2b4;
                  transition: 300ms; }
  div#app div.elementor-flex {
    width: 100%;
    height: 460px;
    background-color: #efefef;
    margin-top: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px; }
    div#app div.elementor-flex div.lottery-users {
      width: 460px;
      height: 75%;
      padding-right: 20px;
      box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      gap: 20px; }
      div#app div.elementor-flex div.lottery-users h2 {
        font-family: site;
        font-weight: 500;
        color: #ff0000;
        font-size: 28px; }
      div#app div.elementor-flex div.lottery-users h4 {
        font-family: site;
        font-weight: 300;
        color: #58595b;
        font-size: 18px; }
      div#app div.elementor-flex div.lottery-users h5 {
        font-family: site;
        font-weight: 100;
        font-size: 15px;
        color: #898989;
        line-height: 33px; }
      div#app div.elementor-flex div.lottery-users div.more-btn {
        width: 135px;
        height: 40px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #a09e9e;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms; }
        div#app div.elementor-flex div.lottery-users div.more-btn:hover {
          background-color: #ff0000; }
        div#app div.elementor-flex div.lottery-users div.more-btn:hover > a {
          color: #fff; }
        div#app div.elementor-flex div.lottery-users div.more-btn a {
          font-family: site;
          font-size: 14px;
          color: #a09e9e; }
    div#app div.elementor-flex div.lottery-logo {
      width: 460px;
      height: 75%;
      display: flex;
      justify-content: end;
      align-items: center;
      margin-right: 20px; }

li.b {
  border-left: 1px solid gray; }

a.c {
  color: white !important; }
